body {
  background-color: #eff0f3;
  font-family: "Open Sans", sans-serif;
}

#page-wrapper {
  position: relative;
}

li {
  list-style: none;
}

a {
  color: #0d0d0d;
  text-decoration: none;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #eff0f3;
}

@media (max-width: 500px) {
  header {
    flex-wrap: wrap;
  }
}

#header-img {
  margin: 10px;
  padding: 0;
  width: 60px;
}

nav > ul {
  width: 50vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: #d9376e;
  font-weight: 800;
}

@media (max-width: 500px) {
  nav {
    flex-direction: column;
  }
  nav > ul {
    flex-direction: column;
  }
}

#hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 210px;
  margin-top: 100px;
}

@media (max-width: 500px) {
  #hero {
    height: 300px;
  }
}

h1,
h2 {
  font-family: "Raleway", sans-serif;
  color: #0d0d0d;
}
h1 {
  font-size: 1.7em;
}
h2 {
  font-size: 1.3em;
}

form {
  display: grid;
  grid-template-columns: 3.5fr 3fr;
  grid-column-gap: 15px;
}

@media (max-width: 350px) {
  form {
    display: flex;
    flex-direction: column;
  }
}

input {
  height: 3em;
  border-radius: 5px;
  font-family: "Open Sans", sans-serif;
}

#email,
#submit {
  border: none;
}

#email {
  margin: 0 0 15px;
}

#submit {
  background-color: #ff8e3c;
  color: #0d0d0d;
  font-weight: 600;
}

#submit-comment > p {
  font-size: small;
  text-align: center;
  margin: 0;
}

.container {
  width: 60%;
  margin: auto;
}

@media (max-width: 900px) {
  .container {
    width: 80%;
  }
}

#teachers,
#courses,
#reviews {
  margin-top: 80px;
  color: #2a2a2a;
}

h3 {
  color: #d9376e;
}

#reviews-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.review {
  margin: 10px;
  border: 1px solid #ff8e3c;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.1);
  color: #2a2a2a;
  border-radius: 15px;
  align-self: center;
  min-height: 120px;
  padding: 1em;
  font-size: small;
}

iframe {
  display: block;
  margin: auto;
  margin-top: 40px;
}

footer {
  font-size: small;
  text-align: end;
  margin-top: 50px;
}
